Flask
Flask-SocketIO
Flask-SQLAlchemy
Flask-Migrate
Flask-Cors
flask-login==0.6.2
python-dotenv
gunicorn
eventlet
Pillow
stripe
PyMySQL # Ou psycopg2-binary se você usar PostgreSQL
Werkzeug
Jinja2
itsdangerous
click
# Adicione outras dependências específicas que seu projeto possa ter
